# End to end Scikit-Learn workflow

In [1]:
#Get the data ready
import pandas as pd
import numpy as np
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create X - feature matrix
X = heart_disease.drop('target', axis=1)

# Create Y - labels
Y = heart_disease['target']

In [3]:
# Choose the right model - since this is a classification problem, RandomForcaseClassifier is used
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# Choose default hyperparamters - hyperparameters are used to control/tune the learning model
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [4]:
# Fit the model to training data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
clf.fit(X_train, Y_train)

RandomForestClassifier()

In [5]:
# Make a prediction
# need data like trained data X_train
X_train
# X_train.size, heart_disease.size
# y_label = clf.predict(np.array([0,2,3,4]))

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
87,46,1,1,101,197,1,1,156,0,0.0,2,0,3
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
105,68,0,2,120,211,0,0,115,0,1.5,1,0,2
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2

In [6]:
Y_train

87     1
9      1
216    0
129    1
17     1
      ..
280    0
31     1
105    1
48     1
64     1
Name: target, Length: 242, dtype: int64

In [7]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2
128,52,0,2,136,196,0,0,169,0,0.1,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,67,1,0,120,229,0,0,129,1,2.6,1,2,3
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3

In [8]:
Y_test

39     1
181    0
146    1
160    1
128    1
      ..
166    0
27     1
142    1
36     1
168    0
Name: target, Length: 61, dtype: int64

In [9]:
fitter = clf.fit(X_train, Y_train)

In [10]:
fitter

RandomForestClassifier()

In [11]:
print(type(fitter))

<class 'sklearn.ensemble._forest.RandomForestClassifier'>

In [12]:
clf.predict(X_test)
print(clf.score(X_test, Y_test))

0.8360655737704918

## 1. Getting data ready to be used with machine learning
Three main things we have to do:
1. Split the data into features and labels (`X` and `y`)
2. Filling (also called imputing) or disregarding missing values
3. Feature encoding: Converting non-numerical values to numerical values
Clean data --> Transform Data --> Reduce Data

In [13]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [14]:
X = heart_disease.drop('target', axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [15]:
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [16]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [17]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [18]:
X.shape

(303, 13)

In [19]:
303*0.8

242.4

1.1  Make sure it's all numerical

In [20]:
car_sales = pd.read_csv('data/car-sales-extended.csv')

In [21]:
len(car_sales)

1000

In [22]:
# Split the data into X and y
X = car_sales.drop('Price', axis=1)
y = car_sales['Price']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [24]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor #  Predict a number

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Honda'

In [25]:
# TUrn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', one_hot, categorical_features)], remainder='passthrough')

transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [28]:
pd.DataFrame(transformed_X).head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [27]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [33]:
dummies = pd.get_dummies(car_sales[['Make', 'Colour', 'Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,False,True,False,False,False,False,False,False,True
1,5,True,False,False,False,False,True,False,False,False
2,4,False,True,False,False,False,False,False,False,True
3,4,False,False,False,True,False,False,False,False,True
4,3,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,4,False,False,False,True,True,False,False,False,False
996,3,False,False,True,False,False,False,False,False,True
997,4,False,False,True,False,False,True,False,False,False
998,4,False,True,False,False,False,False,False,False,True
999,4,False,False,False,True,False,True,False,False,False

In [37]:
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
model.fit(X_train, y_train)

RandomForestRegressor()

In [38]:
model.score(X_test, y_test)

0.3235867221569877

In [39]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3